.container{
  text-align: center;
  margin-top: 300px;
}

.my-btn{
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid red;
  padding: 10px 30px;
  color: black;
  position: relative;
  z-index: 1;
}
.my-btn, .my-btn:after{
    transition: .30s;
}
/* .my-btn:after{
    transition: .30s;
} */
.my-btn:hover{
    color: white;
    /* background: red; */
}
.my-btn:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: red;
    z-index: -1;
    opacity: 0;

}

.my-btn:hover:after{
   height: 100%;
   opacity: 1;

}